<!-- <div>
  hello
</div> -->

<ion-header [translucent]="true">
  <ion-toolbar style="--background: rgb(9, 18, 33)">
    <ion-title>
      Log Sleepiness
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <h2>How sleepy are you?</h2>
  </div>
  <div class="">
    <ion-range class="sleepMeter" [(ngModel)]="level" min="1" max="7" step="1" snaps="true" ticks="true" pin="true"
      color="primary">
      <ion-label slot="start">1</ion-label>
      <ion-label slot="end">7</ion-label>
    </ion-range>
  </div>
  <div style="text-align: center">
    <ion-button (click)="recordValue()" color="secondary">Log</ion-button>
  </div>
</ion-content>