<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-button (click)="passSleep()">
        Log Sleepiness
      </ion-button>
      <ion-button (click)="showOvernightModal()">
        Log Overnight
      </ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-card *ngFor="let stanfordData of standfordSleepinessArray" color="secondary">
      <ion-card-header>
        <!-- <ion-card-subtitle>{{stanfordData.titleString}}</ion-card-subtitle> -->
        <ion-card-title>{{stanfordData.summaryString()}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{stanfordData.dateString()}}
      </ion-card-content>
    </ion-card>
  </ion-grid>

</ion-content>