<!-- <div>
  hello
</div> -->

<ion-header [translucent]="true">
  <ion-toolbar style="--background: rgb(9, 18, 33)">
    <ion-title>
      Log Overnight Data
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <h2>When did you sleep?</h2>
  </div>
  <div class="">
    <div class="option-container" size="5">
      <h1>Sleep Time</h1>
      <ion-datetime display-format="MMM DD, YY HH:mm" [(ngModel)]="goToSleepTime">
      </ion-datetime>

    </div>

    <div class="option-container" size="5">
      <h1>Wake Time</h1>
      <ion-datetime display-format="MMM DD, YY HH:mm" [(ngModel)]="wakeUpTime">
      </ion-datetime>
    </div>

  </div>
  <div style="text-align: center">
    <ion-button (click)="recordValue()" color="secondary">Log</ion-button>
  </div>
  <div style="text-align: center">
    <ion-button (click)="dismissModal()" color="secondary">Dismiss</ion-button>
  </div>
</ion-content>